<main class="settings-container">
  <section class="settings-section" id="username-section">
    <h2 class="section-header" id="username-section-header">
      Username
    </h2>
    <div id="settings-option-list">
      <input
        class="settings-text-input"
        id="username-input"
        type="text"
        value="Guest"
      />
      <button id="username-submit">Submit</button>
    </div>
    <p id="username-feedback"></p>
  </section>
  <section class="settings-section" id="color-palette-section">
    <h2 class="section-header" id="color-palette-section-header">
      Color Palette
    </h2>
    <ul class="settings-option-list">
      <li class="settings-option">
        <button
          class="color-palette-button"
          value="original"
          id="color-palette-button-original"
        >
          Original
        </button>
      </li>
      <li class="settings-option">
        <button
          class="color-palette-button"
          value="greyscale"
          id="color-palette-button-original"
        >
          Greyscale
        </button>
      </li>
      <li class="settings-option">
        <button
          class="color-palette-button"
          value="dark"
          id="color-palette-button-original"
        >
          Dark
        </button>
      </li>
    </ul>
  </section>
</main>